* {
  box-sizing: border-box;
}

body {
  margin-top: 30px;
  margin-left: 30px;
  background-color: #0B2434;
  display: flex;
  align-items: center;
  justify-content: center;
}

main{
  background-color: #F5F5F5;
  max-width: 95%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.dies-container{
  display: grid;
  grid-template: repeat(5, 1fr) / auto auto;
  gap: 20px;
  margin-bottom: 40px;
   
}


.roll-dice {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 6px;
  background-color: #264e68;
  color: white;
  font-size: 1rem;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
.instructions{
  text-align: center;
  font-size: 15px;
}

.title{
  font-size: 25px;
}

.dice {
  position: relative;
  width: 50px;
  height: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  cursor: pointer;
  animation: dotAnimationDice 0.5s ease-in-out 1s;
  animation-delay: 0s;
  
}

.dot {
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: black;
  border-radius: 50%;
  animation: dotAnimationDots 0.5s ease-in-out 1s;
  animation-delay: 0.1s;
  
  
}

.dot-center {
  top: 20px;
  left: 20px;
}

.dot-top {
  top: 7.5px;
  left: 20px;
}

.dot-bottom {
  bottom: 7.5px;
  left: 20px;
}

.dot-top-left {
  top: 7.5px;
  left: 7.5px;
}

.dot-top-right {
  top: 7.5px;
  right: 7.5px;
}

.dot-bottom-left {
  bottom: 7.5px;
  left: 7.5px;
}

.dot-bottom-right {
  bottom: 7.5px;
  right: 7.5px;
}

.dot-left-top {
  top: 7.5px;
  left: 7.5px;
}

.dot-left-center {
  top: 20px;
  left: 7.5px;
}

.dot-left-bottom {
  top: 32.5px;
  left: 7.5px;
}

.dot-right-top {
  top: 7.5px;
  right: 7.5px;
}

.dot-right-center {
  top: 20px;
  right: 7.5px;
}

.dot-right-bottom {
  top: 32.5px;
  right: 7.5px;
}
 
.dot::before,
.dot::after {
  content: '';
  display: block;
  width: 2.5px;
  height: 2.5px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
}

.dot::before {
  top: 1.8px;
  left: 1.8px;
}

.dot::after {
  bottom: 1.8px;
  right: 1.8px;
}
.score{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes dotAnimationDots {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}


@keyframes dotAnimationDice {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@media only screen and (min-width: 350px) {
  main {
      max-width: 400px;
  }

  .dies-container {
    grid-template: auto auto / repeat(5, 1fr);
  }
}